HibernateJPAExample/src/test/resources/my-dataset.dtd

<!ELEMENT dataset (
    CUSTOMER*,
    CUSTOMERORDER*)>

<!ELEMENT CUSTOMER EMPTY>
<!ATTLIST CUSTOMER
    ID CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    CITY CDATA #IMPLIED
    NAME CDATA #IMPLIED
    PHONE CDATA #IMPLIED
>

<!ELEMENT CUSTOMERORDER EMPTY>
<!ATTLIST CUSTOMERORDER
    ID CDATA #REQUIRED
    DATEPLACED CDATA #IMPLIED
    DATEPROMISED CDATA #IMPLIED
    STATUS CDATA #IMPLIED
    CUSTOMERID CDATA #IMPLIED
>

